@use 'abstracts/functions' as fn;

.command-input {
  display: flex;
  align-items: center;

  &__controller {
    --padding-inline: #{fn.get-spacing('sm')};
    --border-color: #{fn.get-color('neutral', '200')};
    --gap: #{fn.get-spacing('sm')};

    padding-inline: var(--padding-inline);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: var(--gap);

    &-field {
      --padding-block: #{fn.get-spacing('sm')};

      padding-block: var(--padding-block);
      border: none;

      &:focus-visible {
        outline: none;
      }

      &:placeholder {
        --text-color: #{fn.get-color('neutral', '400')};
        color: var(--text-color);
      }
    }
  }
}