@use 'abstracts/functions' as fn;

:host {
  display: flex;
  .input-help {
    --text-color: #{fn.get-color('neutral', '600')};
    --font-size: #{fn.get-font-size('sm')};

    color: var(--text-color);
    font-size: var(--font-size);
  }
}