@use 'abstracts/functions' as fn;

.input-text {
  --background-color: #{fn.get-color('neutral', '000')};
  --border-color: #{fn.get-color('neutral', '200')};
  --border-radius: #{fn.get-border-radius('md')};

  display: flex;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  &__field {
    --padding: #{fn.get-spacing('sm')} #{fn.get-spacing('md')};
    --font-size: #{fn.get-font-size('sm')};

    padding: var(--padding);
    font-size: var(--font-size);
    flex: 1;
    border: none;

    &:focus-visible {
      outline: none;
    }
  }
}