@use 'abstracts/functions' as fn;

:host {
  --gap: #{fn.get-spacing('2xs')};
  
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.input-file {
  display: flex;
  flex-direction: column;

  &__field {
    display: none;
  }
  
  &__dropzone {
    --border-radius: #{fn.get-border-radius('md')};
    --padding: #{fn.get-spacing('xl')} #{fn.get-fluid-spacing('lg')};
    --border-color: #{fn.get-color('neutral', '200')};
    --gap: #{fn.get-spacing('md')};
    --animation-duration: #{fn.get-animation-timing('normal')};

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    gap: var(--gap);
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    transition: border-color var(--animation-duration),
                background-color var(--animation-duration),
                transform var(--animation-duration);

    &[data-input-file-dragging="true"] {
      --border-color: #{fn.get-color('primary', '500')};
      --background-color: #{fn.get-color('primary', '100', .05)};

      border-color: var(--border-color);
      background-color: var(--background-color);
      transform: scale(1.01);
    }

    &-icon {
      --text-color: #{fn.get-color('neutral', '500')};
      color: var(--text-color);
    }

    &__content {
      --gap: #{fn.get-spacing('xs')};

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: var(--gap);

      &-title {
        --font-size: #{fn.get-font-size('md')};
        --line-height: #{fn.get-line-height('relaxed')};

        text-align: center;
        font-size: var(--font-size);
        line-height: var(--line-height);
      } 

      &-text {
        --font-size: #{fn.get-font-size('sm')};
        --text-color: #{fn.get-color('neutral', '500')};

        font-size: var(--font-size);
        color: var(--text-color);
      }

      &-button {
        --margin-top: #{fn.get-spacing('md')};
        margin-top: var(--margin-top);
      }
    }
  }

  &__list {
    --gap: #{fn.get-spacing('sm')};
    
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  &__files {
    --margin-top: #{fn.get-spacing('md')};
    --border-radius: #{fn.get-border-radius('md')};
    --border-color: #{fn.get-color('neutral', '200')};
    --background-color: #{fn.get-color('neutral', '050')};
    --padding: #{fn.get-spacing('sm')};

    display: flex;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: var(--padding);
    background-color: var(--background-color);
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
    margin-top: var(--margin-top);
  }

  &__file {
    --border-radius: #{fn.get-border-radius('md')};
    --border-color:#{fn.get-color('neutral', '200')};
    --background-color: #{fn.get-color('neutral', '000')};
    --padding: #{fn.get-spacing('sm')} #{fn.get-spacing('md')};
    --gap: #{fn.get-spacing('md')};
    --font-size: #{fn.get-font-size('sm')};

    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    display: flex;
    font-size: var(--font-size);
    gap: var(--gap);

    &-remove {
      --margin-left: auto;
      align-self: center;
      margin-left: var(--margin-left);
    }

    &__content {
      --gap: #{fn.get-spacing('2xs')};

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--gap);
    }

    &-name {

    }

    &-size {
      --text-color: #{fn.get-color('neutral', '500')};
      --font-size: #{fn.get-font-size('xs')};

      color: var(--text-color);
      font-size: var(--font-size);
    }
  }
}
