
  <div class="dashboard-card">
    <div class="dashboard__stats">
      <app-card>
        <app-card-body>
            <h3>Projets actifs</h3>
            <p>{{ activeProjects }} projets en cours</p>
        </app-card-body>
      </app-card>
  
      <app-card>
        <app-card-body>
            <h3>Équipe</h3>
            <p>{{ teamMembers }} membres actifs</p>
        </app-card-body>
      </app-card>
  
      <app-card>
        <app-card-body>
            <h3>Prochaine échéance</h3>
            <p>{{ nextDeadline }}</p>
        </app-card-body>
      </app-card>

      <app-card>
        <app-card-body>
            <h3>Statistiques</h3>
            <p>{{ completedTasks }} tâches terminées</p>
        </app-card-body>
      </app-card>
    </div>

    <div class="dashboard__chart">
        <app-card>
            <app-card-body>
              <div class="tile" *ngFor="let task of tasks">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p class="assigned-to">Assigné à : {{ task.assignedTo}}</p>
              </div>
            </app-card-body>
        </app-card>
      
        <app-card>
            <app-card-body>
              1000 projets en cours
            </app-card-body>
        </app-card>
  </div>