<app-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-form-row>
    <app-form-control>
      <app-input-text
        [required]="true"
        formControlName="name"
        label="Nom du projet"
        placeholder="Nom du projet"
        help="Veuillez saisir le nom du projet"
        name="input-project-add-form-name"
        id="input-project-add-form-name"
      />
    </app-form-control>
  </app-form-row>

  <app-form-row>
    <app-form-control>
      <app-input-textarea
        [required]="true"
        formControlName="description"
        label="Description"
        placeholder="Description"
        help="Veuillez saisir la description du projet"
        name="input-project-add-form-description"
        id="input-project-add-form-description"
      />
    </app-form-control>
  </app-form-row>

  <app-form-row>
    <app-form-control>
      <app-button type="submit" variant="primary" [fullWidth]="true" size="md">
        <span>Créer le projet</span>
      </app-button>
    </app-form-control>
  </app-form-row>
</app-form>