@let formControl = control();
@let formLabel = label();
@let formHelp = help();
@let formErrors = errors();

@if (formLabel) {
  <app-input-label [for]="id()" [required]="required()">
    {{ formLabel }}
  </app-input-label>
}

<div class="input-select">
  <button 
    class="input-select__trigger"
    (click)="toggle()"
    [id]="id()"
    type="button"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    <span class="input-select__trigger-label">
      @if (selectedOptions().length > 0) {
        @for (option of selectedOptions(); track $index) {
          {{ option.label }}{{ $last ? '' : ', ' }}
        }
      } @else {
        {{ placeholder() }}
      }
    </span>

    <i-lucide 
      class="input-select__trigger-indicator" 
      name="chevrons-up-down"
      size="16"
    />
  </button>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="open()"
    [cdkConnectedOverlayOffsetY]="2"
    (overlayOutsideClick)="hide()"
    (detach)="hide()"
  >
    <app-command [style]="{ minWidth: '100px' }" @popAnimation>
      @if (searchable()) {
        <app-command-input placeholder="Recherche..."/>
      }
      <app-command-list>
        <app-command-empty>
          Aucune option trouvée.
        </app-command-empty>

        <app-command-group>
          @for (option of options(); track $index) {
            <app-command-item (click)="select(option.value);">
              <div class="input-select__option">
                <span class="input-select__option-label">
                  {{ option.label }}
                </span>

                @if (isSelected(option.value)) {
                  <i-lucide 
                    class="input-select__option-check" 
                    name="check"
                    size="16"
                  />
                }
              </div>
            </app-command-item>
          }
        </app-command-group>
      </app-command-list>
    </app-command>
  </ng-template>
</div>

@if (formErrors && formControl?.touched) {
  <app-input-errors [errors]="formErrors"/>
}
@else if (formHelp) {
  <app-input-help>
    {{ formHelp }}
  </app-input-help>
}
