@use 'abstracts/functions' as fn;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .main-dashboard {
    --background-color: #{fn.get-color('neutral', '000')};
    --border-color: #{fn.get-color('neutral', '200')};
    --padding: #{fn.get-spacing('xl')};
    --gap: #{fn.get-spacing('md')};
    
    display: flex;
    height: 100%;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
    padding: var(--padding);
    background-color: var(--background-color);
    gap: var(--gap);

    &__stats {
      --margin-bottom: #{fn.get-spacing('2xl')};
      --gap: #{fn.get-spacing('md')};

      display: grid;
      margin-bottom: var(--margin-bottom);
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: var(--gap);
    }
  }
}