@use 'abstracts/functions' as fn;

:host {
  --gap: #{fn.get-spacing('2xs')};
  
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.input-date-picker {
  display: flex;
  width: 100%;

  &__trigger {
    --padding: #{fn.get-spacing('sm')};
    --font-size: #{fn.get-font-size('sm')};
    --border-radius: #{fn.get-border-radius('md')};
    --font-weight: #{fn.get-font-weight('medium')};
    --animation-duration: #{fn.get-animation-timing('fast')};
    --outline-width: 3px;
    --border-color: #{fn.get-color('neutral', '200')};
    --background-color: #{fn.get-color('neutral', '000')};
    --text-color: #{fn.get-color('neutral', '950')};
    --gap: #{fn.get-spacing('md')};

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid var(--border-color);
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    gap: var(--gap);
    display: flex;
    align-items: center;
    position: relative;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    cursor: pointer;
    padding: var(--padding);
    font-weight: var(--font-weight);
    transition: background-color var(--animation-duration),
                border-color var(--animation-duration),
                color var(--animation-duration),
                opacity var(--animation-duration);

    &:focus-visible {
      --background-color: #{fn.get-color('neutral', '050')};
      --border-color: #{fn.get-color('primary', '500')};
      --outline-color: #{fn.get-color('primary', '500', .1)};

      outline: var(--outline-width) solid var(--outline-color);
      background-color: var(--background-color);
      border-color: var(--border-color);
    }

    &-indicator {
      --margin-left: auto;
      --text-color:#{fn.get-color('neutral', '500')};
  
      color: var(--text-color);
      margin-left: var(--margin-left);
    }
  }
}