@use 'abstracts/functions' as fn;

.input-phone {
  --background-color: #{fn.get-color('neutral', '000')};
  --border-color: #{fn.get-color('neutral', '200')};
  --border-radius: #{fn.get-border-radius('md')};

  display: flex;
  background-color: var(--background-color);

  &__field {
    --padding: #{fn.get-spacing('sm')} #{fn.get-spacing('md')};
    --font-size: #{fn.get-font-size('sm')};

    padding: var(--padding);
    font-size: var(--font-size);
    flex: 1;
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-right: 1px solid var(--border-color);
    border-block: 1px solid var(--border-color);

    &:focus-visible {
      outline: none;
    }
  }

  &__format {
    display: flex;
    align-items: stretch;

    &__trigger {
      --padding: #{fn.get-spacing('sm')};
      --font-size: #{fn.get-font-size('sm')};
      --font-weight: #{fn.get-font-weight('medium')};
      --animation-duration: #{fn.get-animation-timing('fast')};
      --outline-width: 3px;
      --border-color: #{fn.get-color('neutral', '200')};
      --background-color: #{fn.get-color('neutral', '000')};
      --text-color: #{fn.get-color('neutral', '950')};
      --gap: #{fn.get-spacing('md')};
  
      white-space: nowrap;
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      border: 1px solid var(--border-color);
      width: 100%;
      background-color: var(--background-color);
      color: var(--text-color);
      gap: var(--gap);
      display: flex;
      align-items: center;
      position: relative;
      font-size: var(--font-size);
      cursor: pointer;
      padding: var(--padding);
      font-weight: var(--font-weight);
      transition: background-color var(--animation-duration),
                  border-color var(--animation-duration),
                  color var(--animation-duration),
                  opacity var(--animation-duration);
  
      &:is(:hover, :focus-visible) {
        --background-color: #{fn.get-color('neutral', '050')};
        --border-color: #{fn.get-color('neutral', '300')};
  
        background-color: var(--background-color);
        border-color: var(--border-color);
      }
  
      &:focus-visible {
        --outline-color: #{fn.get-color('neutral', '200', .5)};
        outline: var(--outline-width) solid var(--outline-color);
      }
  
      &-indicator {
        --margin-left: auto;
        --text-color:#{fn.get-color('neutral', '500')};
    
        color: var(--text-color);
        margin-left: var(--margin-left);
      }

      &-flag {
        --height: 1em;
        --width: 1.5em;
        height: var(--height);
        width: var(--width);
        object-fit: cover;
        object-position: center;
      }
    }
  
    &__option {
      --gap: .75em;
  
      display: flex;
      align-items: center;
      gap: var(--gap);
      width: 100%;

      &-flag {
        --height: 1em;
        --width: 1.5em;
        height: var(--height);
        width: var(--width);
        object-fit: cover;
        object-position: center;
      }

      &-check {
        margin-left: auto;
      }
    }
  }
}