@let formControl = control();
@let formLabel = label();
@let formHelp = help();
@let formErrors = errors();

<div (click)="toggle()" class="input-switch">
  <div  class="input-switch__trigger">
    <span class="input-switch__trigger-indicator"></span>
  </div>

  <input 
    class="input-switch__field"
    [name]="name()"
    [id]="id()"
    type="checkbox"
    [checked]="checked()"
    [required]="required()"
    [disabled]="disabled()"
    [readOnly]="readonly()"
    (blur)="onBlur($event)"
  >

  @if (formLabel) {
    <app-input-label [for]="id()" [required]="required()">
      {{ formLabel }}
    </app-input-label>
  }  
</div>


@if (formErrors && formControl?.touched) {
  <app-input-errors [errors]="formErrors"/>
}
@else if (formHelp) {
  <app-input-help>
    {{ formHelp }}
  </app-input-help>
}