<!-- @let user = user$ | async;
@let profile = profile$ | async; -->

<header class="header">
  <section class="header__section">
    <app-button (click)="sidebarService.toggle()" variant="outlined" size="icon-sm" [loading]="false">
      @if (sidebarService.expanded()) {
        <i-lucide name="panel-right-open" size="16"/>
      }

      @if (sidebarService.collapsed()) {
        <i-lucide name="panel-right-close" size="16"/>
      }
    </app-button>

    <app-separator orientation="vertical"/>

    <app-breadcrumb/>
  </section>

  <section class="header__section">
    <!-- @if (user && profile) {
      <app-profile-nav [user]="user"/>
    } -->
  </section>
</header>