<header class="header">
  <section class="header__section">
    <app-button variant="outlined" size="icon-sm" [loading]="false">
      <i-lucide name="panel-right-open" size="16"/>
    </app-button>

    <app-separator orientation="vertical"/>

    <app-breadcrumb/>
  </section>

  <section class="header__section">
    <app-button variant="outlined" size="sm" [loading]="false">
      <i-lucide name="bell" size="16"/>
      <span>Notifications</span>
    </app-button>
    
    <app-separator orientation="vertical"/>

    <app-avatar fallback="VF" [size]="36"/>
  </section>
</header>