@use 'abstracts/functions' as fn;

.header {
  --padding: #{fn.get-spacing('md')};
  --background-color: #{fn.get-color('neutral', '000')};
  --border-color: #{fn.get-color('neutral', '200')};

  padding: var(--padding);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  display: flex;
  align-items: center;

  &__section {
    display: flex;
    align-items: center;
    gap: fn.get-spacing('sm');
  }
}