<header class="header">
  <section class="header__section">
    <app-button (click)="sidebarService.toggle()" variant="outlined" size="icon-sm" [loading]="false">
      @if (sidebarService.expanded()) {
        <i-lucide name="panel-right-open" size="16"/>
      }

      @if (sidebarService.collapsed()) {
        <i-lucide name="panel-right-close" size="16"/>
      }
    </app-button>

    <app-separator orientation="vertical"/>

    <app-breadcrumb/>
  </section>

  <section class="header__section">
      <!-- Barre de recherche -->
      <app-input-text placeholder="Rechercher un projet, une tâche...">
      <i-lucide name="search" size="16"/>
      </app-input-text>


      <app-separator orientation="vertical"/>

    <!-- Notifications -->
    <app-button variant="outlined" size="sm" [loading]="false">
      <i-lucide name="bell" size="16"/>
      <span>Notifications</span>
    </app-button>
    
    <app-separator orientation="vertical"/>

    <app-profile-nav
      [username]="'devSkyLex'"
      [email]="'contact@valentin-fortin.pro'"
    
    />
  </section>
</header>