@let formControl = control();
@let formLabel = label();
@let formHelp = help();
@let formErrors = errors();

<button type="button" role="checkbox" (click)="toggle()" class="input-checkbox">
  <div  class="input-checkbox__trigger">
    @if (checked()) {
      <i-lucide 
        name="check" 
        size="16"
      />
    }
  </div>

  <input 
    class="input-checkbox__field"
    [name]="name()"
    type="checkbox"
    [checked]="checked()"
    [required]="required()"
    [disabled]="disabled()"
    [readOnly]="readonly()"
    (blur)="onBlur($event)"
  >

  @if (formLabel) {
    <app-input-label [for]="id()" [required]="required()">
      {{ formLabel }}
    </app-input-label>
  }  
</button>


@if (formErrors && formControl?.touched) {
  <app-input-errors [errors]="formErrors"/>
}
@else if (formHelp) {
  <app-input-help>
    {{ formHelp }}
  </app-input-help>
}