@use 'abstracts/functions' as fn;

:host {
  position: relative;

  .sidebar {
    --sidebar-gap: #{fn.get-spacing('xl')};
    --navigation-gap: #{fn.get-spacing('xl')};
    --accordion-gap: #{fn.get-spacing('2xs')};
    --collapsible-label-gap: #{fn.get-spacing('sm')};
    --collapsible-trigger-gap: #{fn.get-spacing('2xs')};
    --collapsible-list-gap: #{fn.get-spacing('2xs')};
    --sidebar-collapse-animation-duration: 500ms;

    --background-color: #{fn.get-color('neutral', '000')};
    --text-color: #{fn.get-color('neutral', '700')};
    --border-color: #{fn.get-color('neutral', '200')};

    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    border-right: 1px solid var(--border-color);
    overflow: hidden;
    width: 300px;
    white-space: nowrap;
    gap: var(--sidebar-gap);
    transition: width var(--sidebar-collapse-animation-duration);

    //#region Gestion de l'expansion de la barre latérale
    &-collapse {
      visibility: visible;
      opacity: 1;
      width: auto;
      height: auto;
      transition: 
        visibility var(--sidebar-collapse-animation-duration),
        opacity var(--sidebar-collapse-animation-duration),
    }

    &[data-sidebar-collapsed="true"] {
      --navigation-gap: 0;
      --accordion-gap: 0;
      width: 58px;
      
      .sidebar {
        &__collapsible__trigger {
          width: 2rem;
          height: 2rem;
        }

        &-collapse {
          visibility: hidden;
          opacity: 0;
          width: 0;
        }

        &__group-title {
          margin-bottom: 0;
          display: none;
        }
      }
    }
    //#endregion

    & > * {
      --padding: #{fn.get-spacing('sm')};
      --border-color:#{fn.get-color('neutral', '200')};

      padding: var(--padding);

      &:first-child {
        border-bottom: 1px solid var(--border-color);
      }

      &:last-child {
        border-top: 1px solid var(--border-color);
      }
    }

    &__header {
      height: 69px;
    }

    &__brand {
      display: flex;
      align-items: center;

      &-name {
        --font-size: #{fn.get-font-size('3xl')};
        --font-weight: #{fn.get-font-weight('semibold')};
        --text-color:#{fn.get-color('neutral', '950')};

        font-size: var(--font-size);
        font-weight: var(--font-weight);
        color: var(--text-color);
      }
    }

    &__navigation {
      display: flex;
      flex-direction: column;
      gap: var(--navigation-gap);
    }

    &__group {
      display: flex;
      flex-direction: column;

      &-title {
        --padding-inline: #{fn.get-spacing('xs')};
        --margin-bottom: #{fn.get-spacing('xs')};
        --font-size: #{fn.get-font-size('sm')};
        --text-color:#{fn.get-color('neutral', '500')};
        --font-weight: #{fn.get-font-weight('medium')};

        font-size: var(--font-size);
        margin-bottom: var(--margin-bottom);
        padding-inline: var(--padding-inline);
        font-weight: var(--font-weight);
        color: var(--text-color);
        display: flex;
        align-items: center;
      }

      &__accordion {
        display: flex;
        flex-direction: column;
        gap: var(--accordion-gap);
      }
    }

    &__collapsible {
      display: flex;
      flex-direction: column;

      &[data-sidebar-group-item-collapsed='false'] {
        .sidebar__collapsible {
          &-indicator {
            transform: rotate(90deg);
          }
        }
      }

      &__label {
        --font-size: #{fn.get-font-size('md')};

        display: flex;
        align-items: center;
        gap: var(--collapsible-label-gap);
        font-size: var(--font-size);
      }

      &__trigger {
        --padding: #{fn.get-spacing('xs')};
        --border-radius: #{fn.get-border-radius('md')};
        --animation-duration: #{fn.get-animation-timing('fast')};

        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--border-radius);
        padding: var(--padding);
        gap: var(--collapsible-trigger-gap);
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: background-color var(--animation-duration);

        &:is(:hover, :focus-visible) {
          --background-color:#{fn.get-color('neutral', '050')};
          background-color: var(--background-color);
        }

        &:focus-visible {
          outline: none;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
      }

      &-indicator {
        --text-color:#{fn.get-color('neutral', '500')};
        --animation-duration: #{fn.get-animation-timing('fast')};

        color: var(--text-color);
        transform: rotate(0deg);
        transition: transform var(--animation-duration);
      }

      &-list {
        --padding-block: #{fn.get-spacing('2xs')};
        --padding-inline: #{fn.get-spacing('xs')};
        --margin-inline: #{fn.get-spacing('md')};
        --border-color: #{fn.get-color('neutral', '200')};

        padding-block: var(--padding-block);
        padding-inline: var(--padding-inline);
        margin-inline: var(--margin-inline);
        border-left: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        gap: var(--collapsible-list-gap);
        list-style: none;

        &-link {
          --padding: #{fn.get-spacing('xs')} #{fn.get-spacing('sm')};
          --border-radius: #{fn.get-border-radius('md')};
          --font-size: #{fn.get-font-size('sm')};
          --animation-duration: #{fn.get-animation-timing('fast')};

          padding: var(--padding);
          border-radius: var(--border-radius);
          font-size: var(--font-size);
          display: flex;
          align-items: center;
          cursor: pointer;
          text-decoration: none;
          color: inherit;
          animation-duration: var(--animation-duration);

          &:is(:hover, :focus-visible) {
            --background-color:#{fn.get-color('neutral', '050')};
            background-color: var(--background-color);
          }

          &:focus-visible {
            outline: none;
          }
        }
      }
    }
  }
}