<aside (click)="toggleSidebar()" class="sidebar" [attr.data-sidebar-expanded]="collapsed()">
  <section class="sidebar__header">
    <a class="sidebar__brand">
      <span class="sidebar__brand-name sidebar-collapse">
        {{ appName }}
      </span>
    </a>
  </section>

  <section class="sidebar__body">
    <nav class="sidebar__navigation">
      @for (group of navigation(); track $index) {
        <ng-container
          [ngTemplateOutlet]="groupTemplate"
          [ngTemplateOutletContext]="{ $implicit: group }"
        />
      }
    </nav>
  </section>

  <section class="sidebar__footer">
  </section>
</aside>

<ng-template #groupTemplate let-group>
  <div class="sidebar__group">
    <span class="sidebar__group-title sidebar-collapse">
      {{ group.title }}
    </span>

    <cdk-accordion class="sidebar__group__accordion">
      @for (item of group.items; track $index) {
        @let hasChildren = item.items && item.items.length > 0;

        @if (hasChildren) {
          <cdk-accordion-item 
            class="sidebar__collapsible" 
            #accordionItem="cdkAccordionItem" 
            [attr.data-sidebar-collapsible-expanded]="accordionItem.expanded"
          >
            <button 
              class="sidebar__collapsible__trigger" 
              (click)="accordionItem.toggle()" 
              [app-tooltip]="item.label"
              placement="right"
            >
              <div class="sidebar__collapsible__label">
                @if (item.icon) {
                  <i-lucide [name]="item.icon" [size]="18"/>
                }
                <span class="sidebar-label sidebar-collapse">{{ item.label }}</span>
              </div>
        
              <div class="sidebar__collapsible-indicator sidebar-collapse">
                <i-lucide class="sidebar-indicator" name="chevron-right" [size]="16"/>
              </div>
            </button>
        
            @if (accordionItem.expanded) {
              <div 
                class="sidebar__collapsible__content" 
                @collapsibleAnimation
              >
                <ul class="sidebar__collapsible-list">
                  @for (child of item.items; track $index) {
                    <li class="sidebar__collapsible-list-item">
                      <a
                        class="sidebar__collapsible-list-link"
                        [routerLink]="child.route"
                        routerLinkActive="sidebar__collapsible-list-link--active"
                      >
                        <span class="sidebar-label sidebar-collapse">{{ child.label }}</span>
                      </a>
                    </li>
                  }
                </ul>
              </div>
            }
          </cdk-accordion-item>
        }
        @else {
          <a
            class="sidebar__group-list-link"
            [routerLink]="item.route"
            routerLinkActive="sidebar__group-list-link--active"
          >
            <span class="sidebar-label sidebar-collapse">{{ item.label }}</span>
          </a>
        }
      }
    </cdk-accordion>
  </div>
</ng-template>